<section class="position-relative root">
    <div class="container-fluid d-grid" style="height: 100vh;">
        <div class="row d-flex flex-wrap align-items-center justify-content-between h-100">
            <div class="col-lg-8  col-sm-12 d-flex flex-column align-items-center text-center ">

                <div id="animation-container" class="animation-container">
                </div>
                <div class="d-flex justify-content-center gap-3 footer">
                    <div>
                        <img src="../../../assets/img/Line 16.png" class="img">
                    </div>
                    <div>
                        <p class="heading"><b>SEAMLESS</b> VENDOR GATEWAY</p>
                        <p class="text">
                            Simplify communication, enhance collaboration, and <br>optimize operations effortlessly with
                            our intuitive software.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="logincard">
                    <div class="login py-2 px-4 px-md-5 d-grid h-100">
                        <div class="clientlogo mb-3 text-center">
                            <img src="../../../assets/img/image 3.png" alt="indus" class="img-fluid">
                        </div>
                        <div class="text-center p-t-15 p-b-20">
                            <p class="fw fw-welcome">Welcome to Vendor Portal</p>
                            <p class="log">Please log in to access your account</p>
                        </div>
                        <form class="row compmaster">
                            <div class="col-md-12  form-group" >


                                <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                                    <mat-label for="UserLoginCode">User Name</mat-label>
                                    <input matInput placeholder="Enter your Username" type="text" name="UserLoginCode"
                                        id="UserLoginCode" [(ngModel)]="Header.UserName"
                                        style="padding: 10px 0; font-size: 13px !important;">

                                </mat-form-field>
                            </div>
                          
                            <div class="col-md-12 inputfield otp-bar w-100 p-l-10 otp-btn-bar">

                                <button mat-button (click)="SentOTP()" *ngIf="otpTimer <= 0 && !isOtpValid"
                                    class="btn-Otp" [disabled]="otpTimer > 0">Send
                                    OTP </button>
                            </div>
                            <!-- <div class="col-md-12 password-wrapper inputfield">
                                <label for="UserLoginPassword">Password</label>
                                <input matInput [type]="passwordFieldType" class="form-control" id="UserLoginPassword"
                                    name="UserLoginPassword" autocomplete="current-password" placeholder="Password"
                                    [(ngModel)]="Header.Password">
                                <mat-icon class="eye-icon" (click)="togglePasswordVisibility()">
                                    {{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}
                                </mat-icon>
                            </div>
                            <div class="d-flex justify-content-end gap-2 mt-3">
                                <a href="" class="forget"><span>Forget Password?</span></a>

                            </div> -->

                            <div class="form-group mb-3" style="display: flex; align-items: center;">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                                    <mat-label>Enter your OTP</mat-label>
                                    <input matInput placeholder="Enter your OTP" type="tel" id="otp" name="otp"
                                        [formControl]="otpControl" maxlength="6" inputmode="numeric" pattern="[0-9]{6}"
                                        (ngModelChange)="verifyOtp()" style="height: 48px;" [disabled]="!isOtpSent"
                                        style="padding: 0;font-size: 13px !important;">
                                    <mat-error *ngIf="isOtpValid === false && otpControl?.value?.length === 6">
                                        Incorrect OTP. Please try again.
                                    </mat-error>
                                    <mat-error *ngIf="isOtpValid === true && otpControl?.value?.length === 6"
                                        class="otp-valid">
                                        OTP is valid
                                    </mat-error>
                                </mat-form-field>

                                <!-- Conditional icons based on OTP validity status -->
                                <span *ngIf="isOtpValid === null" class="bitcoin-icons--verify-outline mt-2"></span>
                                <span *ngIf="isOtpValid === true" class="bitcoin-icons--verify-filled mt-2"></span>
                                <span *ngIf="isOtpValid === false" class="basil--cancel-solid mt-2"></span>
                            </div>

                            <div *ngIf="otpTimer > 0" class="otp-timer">Resend OTP in: {{ displayTime }} seconds</div>
                            <div *ngIf="otpTimer === 1" class="otp-expired">OTP expired. Please resend OTP.</div>


                            <div class="d-flex justify-content-center gap-2">
                                <button type="submit" *ngIf="isOtpValid === true && otpControl?.value?.length === 6"
                                    class="input-style submit" (click)="onlogin()">Submit</button>
                            </div>
                        </form>
                        <div class="d-flex align-items-center flex-wrap justify-content-center my-3">

                            <a href="" style="width: 180px;"><img src="../../../assets/img/powered by.png"
                                    class="img-fluid float-end d-block" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>