<div class="card">
    <div class="card-header d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div style="height: 40px; display: flex; align-items: center;border-bottom: none;margin-top: -7px;">
            <div>PO Dashboard<br>
            </div>

        </div>
    </div>
    <div class="card-body" style="height: calc(10vh - 0px); overflow: auto;">
        <div class="row">
            <div class="col-lg-2">
                <label>From Date</label>
                <input type="date" class="form-control" name="filterDate" [(ngModel)]="Filter.fromdate"
                    (change)="getList()" />
            </div>
            <div class="col-lg-2">
                <label>To Date</label>
                <input type="date" class="form-control" name="filterDate" [(ngModel)]="Filter.todate"
                    (change)="getList()" />
            </div>
        </div>
        <div id="chart">
            <!-- <apx-chart [series]="Po.series" [chart]="Po.chart" [dataLabels]="Po.dataLabels"
                [plotOptions]="Po.plotOptions" [responsive]="Po.responsive" [xaxis]="Po.xaxis" [legend]="Po.legend"
                [fill]="Po.fill"></apx-chart> -->
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center gy-2">
                <!-- Export Button -->
                <div class="col-12 col-sm-6 col-md-2">
                    <button mat-raised-button color="primary" class="w-100">
                        <mat-icon class="exportIcon">cloud_download</mat-icon>
                        Export
                    </button>
                </div>

                <!-- Search Input -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="searches d-flex ">
                        <span class="default-search"></span>
                        <input matInput type="search" id="search" name="search" placeholder="Search..."
                            class="search-input">
                    </div>
                </div>
            </div>

            <div class="card-table">
                <div class="table-container mt-1" style="height: 300px">
                    <table mat-table [dataSource]="dataSource" matTableExporter matSort
                        style="width: 100%; white-space: nowrap">
                        <ng-container *ngFor="let colName of ListColumns" [matColumnDef]="colName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ colName }}</th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="colName != 'Approved' && colName != 'Notapproved'">{{
                                    element[colName]
                                    }}</span>
                                <span *ngIf="colName == 'Approved' || colName == 'Notapproved'">
                                    {{ element[colName] == 1 ? "Yes" : "No" }}
                                </span>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="ListColumns; sticky: true" class="mat-header-row"></tr>
                        <tr mat-row *matRowDef="let row; columns: ListColumns" class="mat-row"></tr>
                    </table>
                </div>

            </div>
        </div>
    </div>