@import url('../asn.scss');
.table-responsive table.tmfull1,
.table-responsive table {
    min-width: 1200px !important;
    overflow: auto !important;
    max-width: 100% !important;
    width: 100% !important;
}

.open {
    border-radius: 30px;
    border: 1px solid rgba(27, 132, 255, 0.2);
    width: 80px;
    height: 22px;
    padding: 0 6px; 
    color: #056EE9;
    display: flex;
    align-items: center;
background-color: rgba(239, 246, 255, 1);
    justify-content: center;
    position: relative;
    font-size: 12px;
    gap: 5px; 
    font-size: 11px !important;
}

.open::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #1B84FF;
    border-radius: 20px;
    display: inline-block;
}


.approved{
    border-radius: 30px;
    border: 1px solid rgba(23, 198, 83, 0.2);
    width: 80px;
    height: 22px;
    padding: 0 6px; 
    color: #04B440;
    background-color: #EAFFF1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    gap: 5px; 
    font-size: 11px !important;
}

.approved::before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #17C653;
    border-radius: 20px;
    display: inline-block;
}

.reject{
    border-radius: 30px;
    border: 1px solid rgba(248, 40, 90, 0.2);
    width: 80px;
    height: 22px;
    padding: 0 6px; 
    color: #D81A48;
    display: flex;
    background-color: #FFEEF3;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    gap: 5px; 
    font-size: 11px !important;
}

.reject::before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #F8285A;
    border-radius: 20px;
    display: inline-block;
}

  


  .status-approved {
  background-color: #28a745; /* green */
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.status-approved:hover {
  background-color: #218838; /* darker green */
}

.status-other {
  background-color: #ff9800; /* warm orange */
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.status-other:hover {
  background-color: #e65100; /* darker orange */
}
  

