<div class="breadcrumb-main">
    <div class="bg-light-primary rounded   overflow-hidden ng-star-inserted bb-box">
        <div class="row">
            <div class="col-sm-8">
                <div class="d-flex align-items-center overflow-hidden">
                    <ul class="breadcrumb align-items-center">
                        <li tabindex="0" class="breadcrumb-item ng-star-inserted">
                            <a href="../../asn/documentupload/">Go to Document Upload</a>
                        </li>
                        <li class="breadcrumb-item active f-s-14 ng-star-inserted">Edit Document</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 text-right position-relative">
                <div class="breadcrumb-icon">
                    <img src="/assets/img/breadcrumb/ChatBc.png" alt="breadcrumb" width="165">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div style="height: 40px; display: flex; align-items: center;border-bottom: none;margin-top: -7px;">
            <div>Edit Document</div>
        </div>
    </div>
     
    <div class="po-table">
        <div class="card">
            <div class="card-body">
                <div class="card-table">
                    <div class="table-responsive table-bar">
                        <input id="toggle1" class="row-toggle" type="checkbox" />
                        <input id="toggle2" class="row-toggle" type="checkbox" />
                        <table
                            class="mat-mdc-table mdc-data-table__table cdk-table w-100 table-main-all tmfull hundred-only">
                            <thead>
                                <tr>
                                     
                                    <th
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        ASN Request</th>
                                    <th
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        ASN</th>
                                    <th
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        Purchase Order</th>
                                    <th
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        Vendor</th>
                                    <th
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        Delivery Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="clickable">
                                     
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        ASN-REQ-01
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        <span class="bg-light-warning">ASN01</span>
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        PO-1 </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        Vendor-01</td>

                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        <span class="bg-light-primary">10.08.2025</span>
                                    </td>
                                     
                                </tr>
                                <!-- <tr class="expand row-1"> -->
                                <tr class="row-1">
                                    <td colspan="13"
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell hov nes inner-td-bar">
                                        <div class="ng-star-inserted">
                                            <table
                                                class="mat-mdc-table mdc-data-table__table cdk-table hov inner ins-msd hundred-only">
                                                <thead>
                                                    <tr>
                                                        <th>ASN</th>
                                                        <td>ASN-01</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Purchase Order</th>
                                                        <td>PO-1</td>

                                                    </tr>
                                                    <tr>
                                                        <th>Vendor Number/ Name</th>
                                                        <td>Vendor-01</td>

                                                    </tr>
                                                    <tr>
                                                        <th>Document Name</th>
                                                        <td><input type="text" placeholder="Free Text 1"
                                                                class="input-ms"></td>

                                                    </tr>
                                                    <tr>
                                                        <th>Description</th>
                                                        <td><textarea type="text" placeholder="Free Text 1"
                                                                class="input-ms"></textarea></td>

                                                    </tr>
                                                    <tr>
                                                        <th>Upload Document</th>
                                                        <td><input type="file" placeholder="Browse" class="input-ms" />
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <th>Generate QR Code</th>
                                                        <td><img src="../../../assets/img/qr-code.jpg"
                                                                class="img qr-img"> </td>

                                                    </tr>
                                                    <!-- <tr>
                                                        <th
                                                            class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                                            <span
                                                                class="btn-success">Submit</span>&nbsp;&nbsp;&nbsp;<span
                                                                class="btn-warning">Cancel</span>
                                                        </th>
                                                        <td
                                                            class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">

                                                        </td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>

            </div>

        </div>
        <div class="text-right p-t-15 p-b-10 p-10 w-100">
            <button class="btn-success">Save</button>&nbsp;&nbsp;
            <button class="btn-warning">Cancel</button>
        </div>


    </div>
</div>
 